/* html{
} */

h1 {
    font-family: 'Noto Serif Display', serif;
    font-size: 3.5em;
    color:#222131;
    background-color: #D1E1EF;
    border-radius: 25px;
    padding: 20px;
}

.pic{
/*position: absolute;*/
    float: right;
    width: 24%;
    height: 30%;
    right: 10%; 
    filter: drop-shadow(0 0 0.75rem rgb(50, 50, 51));
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3em;
    color:#222131;
    padding: 2.5em;
}

/*div{
    
}

h2 {
    
}*/

section {
    margin-top: 2.5em;
    margin-bottom: 4em;
    margin-left: 1.5em;
}

/* 
#assignments {
    
}

ul{
    
}

#assignment_list{
    
}

li{ 
    
}*/

img {
    border-radius: 25px;
    padding: 0px;
    
}

footer{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color:ghostwhite;
    background-color:#222131;
    border-radius: 25px;
    padding: 20px;
}

/*span{
    
}*/
/* .year{
    
}
.name{
    
}
#state{
    
}
#online_learning_link{
    
} */

#date_updated{
    color:#edae49;    
}

/* unvisited link */
a:link {
    color:#29527A;
  }
  /* visited link */
 a:visited {
    color:#29527A;
  }
  /* mouse over link */
 a:hover {
    color:#222131;
  }
  /* selected link */
 a:active {
    color:#29527A;
  }


/* unvisited link */
footer a:link {
    color: #ccc;
  }
  /* visited link */
  footer a:visited {
    color:ghostwhite;
  }
  /* mouse over link */
  footer a:hover {
    color:#edae49;
  }
  /* selected link */
  footer a:active {
    color:ghostwhite;
  }
