/* html{
} */
header {
    grid-column: 1/3;
    grid-row: 1;
}

h1 {
    font-family: 'Noto Serif Display', serif;
    font-size: 3.5em;
    color:#222131;
    background-color: #D1E1EF;
    border-radius: 25px;
    padding: 20px;
}
.assignment-heading{
    text-align: center;
}

.pic{
/*position: absolute;*/
    width: 70%;
    margin: 10px;
    grid-column: 2/3;
    grid-row: 1/6;
    justify-self: end;
    z-index: 1;
    border-radius: 0.5em;
    box-sizing:border-box;
    /* float: right;
    width: 24%;
    height: 30%;
    right: 10%;  */
    filter: drop-shadow(0 0 0.75rem rgb(50, 50, 51));
}
.orgpic{
  grid-row: 1/6;
  width: 30%; 

}

body{
  
    max-width: 960px;
    margin:  auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3em;
    color:#222131;
    padding: 2.5em;
}

/*div{
    
}

h2 {
    
}*/

section {
    margin-top: 2.5em;
    margin-bottom: 4em;
    margin-left: 1.5em;
}

.principles {
    grid-column: 1/3;
    margin-bottom: 1em;
}

#assignments h2{
    margin-bottom: 0em;
}

/* #assignments hr{

} */

/* 
#assignments {
    
}*/

ul{
  padding: .5em;  
}

/*
#assignment_list{
    
}
*/

li{ 
   margin-top: .7em; 
   margin-left: 3em;
}

img {
    border-radius: 25px;
    padding: 0px;
    
}

footer{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color:ghostwhite;
    background-color:#222131;
    border-radius: 25px;
    padding: 20px;
    grid-column: 1/3;
    grid-row: 5/6;
    width: 100%;
    box-sizing: border-box;
    align-content: space-around; 
}

/*span{
    
}*/
/* .year{
    
}
.name{
    
}
#state{
    
}
#online_learning_link{
    
} */

#date_updated{
    color:#edae49;    
}

/* unvisited link */
a:link {
    color:#29527A;
  }
  /* visited link */
 a:visited {
    color:#29527A;
  }
  /* mouse over link */
 a:hover {
    color:#222131;
  }
  /* selected link */
 a:active {
    color:#29527A;
  }


/* unvisited link */
footer a:link {
    color: #ccc;
  }
  /* visited link */
  footer a:visited {
    color:ghostwhite;
  }
  /* mouse over link */
  footer a:hover {
    color:#edae49;
  }
  /* selected link */
  footer a:active {
    color:ghostwhite;
  }

  hr {
    grid-column: 1/3;
    grid-row: 2;
    width: 100%;
}

  @media screen and (max-width: 550px) { 
    /* beginning of media query */
        body {
        display: block;
      }
    }
